.character-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    gap : 10px;
    padding: 10px;
}

.character-list li {
    text-align: center;
    border-color: black;
    border-style: solid;
    border-radius: 5%;
    background-color: aqua;

}